.sub_info_about {
    font-style: italic;
    font-size: 0.7rem;
    color: #788492
}

.about-custom {
    font-family: Calibri, 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

.about-custom li {
    line-height: 140%;
}

.about-custom p {
    line-height: 150%;
}

.about-title {
    color: #788492;
}

.detail_info {
    font-size: 0.7rem;
    color: #000000;
}

.detail_info_about {
    font-size: 0.9rem;
    color: #000000;
}

.subtitle {
    font-size: 1rem;
    padding: 0 0 1rem 0;
}

.right{
    float:right;
}

.left{
    text-align:left;
}

.about-org {
    font-size: 0.9rem;
}

.project__title-custom a {
    font-size: 1.3rem;
    color: black !important;
}

.project__subtitle-custom {
    font-size: 0.9rem;
}

.education_info_about {
    font-style: italic;
    font-size: 80%;
    color: #788492
}
