{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
    <code class="">
        <span class=".item__title--small">
            Hi There! I'm
        </span>
        <span class="item__title--big">
          Amit Tripathi
        </span>
    </code>
    <div class="portfolio__content">
        <p>Software Engineer</p>
    </div>
    <hr class="divider">

    <div class="portfolio_content">
        <h3>Experience</h3>
        <hr class="divider">
            <!-- First Block -->
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12" href="https://github.com/amitt001/pygmy" target="_blank" rel="noopener noreferrer">
                    <img class="project__image img-responsive" src="images/pygmy.png" alt="Pygmy">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <span class="project__title">
                        <a href="https://github.com/amitt001/pygmy" target="_blank" rel="noopener noreferrer">Pygmy</a>
                    </span>
                    <span class="project__subtitle-small">
                        URL shortener, link analytics & user dashboard
                    </span>
                    <span class="project__summary">
                        <p>Open-source, feature rich and extensible url shortener. It's created keeping in mind that it should be easy to host and run your custom URL shortener. Checkout live version <a href="https://pygy.co/pygmy", target="_blank">pygy.co</a></p>
                    </span>
                </div>
            </div>
            <!-- Second Block -->
            <div class="row-space">&nbsp;</div>
            <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12" href="https://github.com/amitt001/Codebuddy" target="_blank" rel="noopener noreferrer">
                        <img class="project__image img-responsive" src="images/codebuddy.png" alt="Pygmy">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <span class="project__title">
                            <a href="https://github.com/amitt001/codebuddy" target="_blank" rel="noopener noreferrer">Codebuddy</a>
                        </span>
                        <span class="project__subtitle-small">
                            Real time code and document editor
                        </span>
                        <span class="project__summary">
                            <p>It is a real time code and document collaboration web app. It can be used for real time collaboration. Checkout <a href="https://pygy.co/cC", target="_blank">Codebuddy</a></p>
                        </span>
                    </div>
                </div>
                <!-- Third block -->
                <div class="row-space">&nbsp;</div>
                <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12" href="https://gitlab.com/mailman/mailman/merge_requests?scope=all&utf8=%E2%9C%93&state=all&author_username=amitt001" target="_blank" rel="noopener noreferrer">
                            <img class="project__image img-responsive" src="images/list.png" alt="Pygmy">
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <span class="project__title">
                                <a href="https://gitlab.com/mailman/mailman/merge_requests?scope=all&utf8=%E2%9C%93&state=all&author_username=amitt001" target="_blank" rel="noopener noreferrer">Mailman Core</a>
                            </span>
                            <span class="project__subtitle-small">
                                GNU Mailman list.org
                            </span>
                            <span class="project__summary">
                                <p>Mailman is free software for managing electronic mail discussion and e-newsletter lists.<a href="https://list.org", target="_blank">list.org</a></p>
                            </span>
                        </div>
                    </div>

        </div>

    <hr class="divider">
    <div class="portfolio__content">
        <h3>Education</h3>
    </div>
    <hr class="divider">
    <div class="portfolio__content">
        <h3>Skills</h3>
    </div>
    <hr class="divider">
    <div class="portfolio__content">
        <h3>Interests</h3>
    </div>
    <hr class="divider">
{{ end }}

{{ define "footer" }}
  {{ if .Site.GoogleAnalytics }}
    <!-- Google Analytics -->
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
  {{ partial "footer/font-awesome-js.html" . }}
{{ end }}
