{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}

<link rel="stylesheet" href="/css/custom.css">

<h1 style="color: #24D05A">Amit Tripathi</h1>

<div class="detail_info_about">
    <p>I am a software engineer with deep interest in software development & software infrastructure.</p>
    <p>I currently work as a Site Reliability Engineer with an e-commerce company in Cape Town, South Africa.</p>
    <p>Before this, I have worked on backend system for web apps of various requirements & sizes.</p>
    <p>Here is my <a href="/resume">CV</a></p>

    <p>I like travelling and hiking. I post some of my travel pictures on instagram: <a href="https://www.instagram.com/iamit19/">iamit19</a></p>

    <h4 style="color: #515151">Contact</h4>
    <p>For any feedbacks and suggestions:</p>

    <div>Email: mail2amit19gmail.com</div>
    <div>You can also ping me on twitter @amitt019</div>
    <div>Github: amitt001</div>

</div>
{{ end }}

{{ define "footer" }}
  {{ if .Site.GoogleAnalytics }}
    <!-- Google Analytics -->
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
  {{ partial "footer/font-awesome-js.html" . }}
{{ end }}
